<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.daosub.member.GradeDaoSub">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        SELECT
    =============================================================== -->

    <!-- 회원 등급 -->
    <select id="getMemberGrade" parameterType="long" resultType="MemberGradeDto">
        SELECT
            idx,
            amount,
            grade,
            add_mileage,
            payback
        FROM <include refid="database"/>`member_grade`
        WHERE
            idx = #{memberIdx}
    </select>

    <!-- 3개월 월별 결제 금액 -->
    <select id="getMonthPayment" parameterType="hashmap" resultType="hashmap">
        SELECT
            DATE_FORMAT(CONVERT_TZ(pa.`regdate`, 'UTC', '${convertTZ}'), '%Y-%m') AS `monthDate`,
            IFNULL(sum(pa.`pay`), 0) AS amount
        FROM `payment` AS pa
        <where>
            <![CDATA[
                pa.`member_idx` = #{memberIdx}
            AND pa.`regdate` >= #{startDate}
            AND pa.`regdate` <= #{endDate}
            AND pa.`state` = 1
            ]]>
        </where>
        GROUP BY monthDate
    </select>


</mapper>