<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.daosub.member.MemberDaoSub">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        SELECT
    =============================================================== -->

    <!-- 회원 환경 설정 정보 -->
    <select id="getSettingInfo" parameterType="Long" resultType="MemberDto">
        SELECT
            `state` AS `coinAlarm`
        FROM <include refid="database"/>`member_setting`
        WHERE
            `member_idx` = #{idx}
            AND `setting_idx` = 1
    </select>

    <!-- 사용중인 닉네임 카운트 가져오기 -->
    <select id="getCountByNick" parameterType="String" resultType="int">
        SELECT
            COUNT(`idx`) AS `cnt`
        FROM <include refid="database" />`member`
        WHERE
            `nick` = #{nick}
    </select>

    <!-- 회원탈퇴 관련 혜택 받은적 있는지 체크 -->
    <select id="getDeleteBenefitCntByIdx" parameterType="Long" resultType="int">
        SELECT
            COUNT(`idx`) AS `totalCnt`
        FROM <include refid="database"/>`member`
        WHERE
            `idx` = #{memberIdx}
            AND `is_benefit` = 1
    </select>

    <!-- CI, DI 정보로 회원 정보 가져오기 -->
    <select id="getMemberInfoByCiDi" parameterType="MemberDto" resultType="MemberDto">
        SELECT
            `mein`.`txseq`,
            `mein`.`member_idx`,
            `mein`.`birth`,
            `mein`.`gender`,
            `mein`.`name`,
            `mein`.`email`,
            `mein`.`phone`,
            `mein`.`ci`,
            `mein`.`di`,
            `mein`.`ip`,
            `mein`.`lang`,
            `mein`.`currency`,
            IFNULL(CONVERT_TZ(`me`.`logindate`, 'UTC', '${convertTZ}'), '') AS `logindate`,
            IFNULL(CONVERT_TZ(`me`.`regdate`, 'UTC', '${convertTZ}'), '') AS `regdate`,
            `me`.`id`,
            `me`.`is_simple`,
            (CASE WHEN `me`.`is_simple` = 1 THEN `mesi`.`simple_type` ELSE NULL END) AS `simpleType`
        FROM <include refid="database" />`member_info` AS `mein`
        JOIN <include refid="database" />`member` AS `me`
            ON `mein`.`member_idx` = `me`.`idx`
        LEFT JOIN <include refid="database" />`member_simple` AS `mesi`
            ON `me`.`idx` = `mesi`.`member_idx`
        WHERE
            `mein`.`ci` = #{ci}
            AND `mein`.`di` = #{di}
            AND `me`.`state`  = 1
            AND `mein`.`state`  = 1
    </select>

    <!-- 회원 아이디 유무 조회 -->
    <select id="getCountById" parameterType="String" resultType="int">
        SELECT
            COUNT(`me`.`id`)
        FROM <include refid="database"/>`member` AS `me`
        WHERE
            `me`.`id` = #{id}
    </select>

    <!-- 간편가입 여부 조회-->
    <select id="getMemberIsSimpleByIdx" parameterType="Long" resultType="int">
        SELECT
            `is_simple`
        FROM <include refid="database"/>`member`
        WHERE
            `idx` = #{memberIdx}
    </select>

    <!-- 간편가입 정보 조회 -->
    <select id="getMemberSimpleInfoByIdx" parameterType="Long" resultType="MemberSimpleDto">
        SELECT
            `idx`,
            `member_idx`,
            `simple_type`,
            `auth_token`
        FROM <include refid="database"/>`member_simple`
        WHERE
            `member_idx` = #{memberIdx}
    </select>

    <!-- 회원 기본 정보 -->
    <select id="getMemberInfoByIdx" parameterType="Long" resultType="MemberDto">
        SELECT
            `me`.`idx`,
            `me`.`id`,
            `me`.`nick`,
            `me`.`site`,
            `me`.`auth`,
            `me`.`adult`,
            `me`.`is_simple`,
            `me`.`is_benefit`,
            IFNULL(CONVERT_TZ(`mein`.`regdate`, 'UTC', '${convertTZ}'), '') AS `regdate`,
            `mein`.`lang`,
            `mein`.`ci`,
            `mein`.`currency`,
            `mein`.`birth`,
            `mein`.`gender`,
            `mein`.`name`,
            `mein`.`email`,
            `mein`.`phone`,
            (CASE WHEN `me`.`is_simple` = 1 THEN `mesi`.`simple_type` ELSE NULL END) AS `simple_type`
        FROM `member` AS `me`
        LEFT JOIN `member_info` AS `mein`
            ON `me`.`idx` = `mein`.`member_idx`
        LEFT JOIN `member_simple` AS `mesi`
            ON `me`.`idx` = `mesi`.`member_idx`
        WHERE
                `me`.`idx` = #{idx}
            AND `me`.`state` = 1
    </select>

    <!-- 비밀번호 변경을 위해 이전 비밀번호 조회 (로그인 비밀번호 변경 : 회원 idx로 조회 / 비로그인 비밀번호 재설정 : 회원 id로 조회) -->
    <select id="getOldPassword" parameterType="MemberDto" resultType="String">
        SELECT
            `me`.`password`
        FROM <include refid="database"/>`member` AS `me`
        WHERE
            <choose>
                <when test="idx != null and idx > 0">
                    `me`.`idx` = #{idx}
                </when>
                <when test="id != null and id != ''">
                    `me`.`id` = #{id}
                </when>
            </choose>
            AND `me`.`state` = 1
    </select>

    <!-- 동일 회원이 다계정 보유하고 있는지 체크 -->
    <select id="getMemberCiCnt" parameterType="String" resultType="int">
        SELECT
            COUNT(`ci`) AS `memberCiCnt`
        FROM <include refid="database"/>`member_info`
        WHERE
            `ci` = #{ci}
    </select>

    <!-- OTT 가입 이벤트 마일리지 받았는지 체크 -->
    <select id="getMemberOttCnt" parameterType="Long" resultType="int">
        SELECT
            COUNT(`member_idx`) AS `memberOttCnt`
        FROM <include refid="database"/>`event_log`
        WHERE
            `member_idx` = #{memberIdx}
            AND `event_type` = 'join'
    </select>

    <!-- 회원 CI 정보 조회 -->
    <select id="getMemberCi" parameterType="SearchDto" resultType="String">
        SELECT
            `ci`
        FROM <include refid="database"/>`member_info`
        WHERE
            `member_idx` = #{memberIdx}
            AND `state` = 1
    </select>

    <!-- 회원 가입 사이트 정보 조회 -->
    <select id="getMemberSite" parameterType="Long" resultType="String">
        SELECT
            IFNULL(`site`, '') AS `site`
        FROM <include refid="database"/>`member`
        WHERE
            `idx` = #{memberIdx}
            AND `state` = 1
    </select>
</mapper>